* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #181818;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo-container{
  height: 100px;
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  border-bottom: white 3px solid;
  padding-bottom: 2px;
  height: 105px;
}

.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
  padding-left: 5px;
  width: 120%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar a{
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  background-color: #313131;
  border-radius: 20px;
  color: white;
  border: white 3px solid;
  transition: transform 0.2s ease;
  box-shadow: 8px 8px 8px rgba(95, 95, 95, 0.8);
}

.navbar a:hover {
  background-color: #4d4d4d;
  transform: scale(1.1);
  cursor: pointer;
}

.navbar li {
  padding: 10px;
}

.navbar li:last-child {
  margin-left: auto;
}

h1,
h3 {
  color: white;
}

#logo {
  padding: 0;
  margin: 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}

.navbar a.active {
  font-weight: bold;
  text-decoration: underline;
  box-shadow: 8px 8px 8px rgba(95, 95, 95, 0.8);
}

#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #313131;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

/*Extra Burger Menu*/
#burgerNav {
  background-color: rgb(58, 58, 58);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -500px;
  z-index: 500;
  transition: right 0.3s ease;
  display: block;
  padding-top: 0px;
  border-left: solid white 3px;
}

#burgerNav.active {
    right: 0;
}

#menuContainer {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 600;
}

#menuContainer.open {
  width: 160px;
}


#burgerIcon {
  width: 40px;
  height: 40px;
  position: relative;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 602;
  cursor: pointer;
  transform: scale(1.2)
}

#burgerIcon:hover {
  transform: scale(1.4);
}

#burgerIcon.menu-open {
  transform: translateX(-160px) scale(1.2);
  transition: transform 0.3s ease;
}

#burgerIcon.menu-open:hover {
  cursor:default;
}

#closeIcon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30px;
  right: 17px;
  display: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 601;
  cursor: pointer;
}

#burgerNav.active #closeIcon {
  display: block;
}

#closeIcon:hover {
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

/*Extra Burger Menu inhoud*/
#burgerNav h1{
  color: white;
  padding-left: 135px;
  margin-top: 28px;
  font-size: 2.4rem;
  display: block;
}

.burgernav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navbar .burgernav li {
  margin-left: 0px;
}

.burgernav li {
  list-style: none;
  margin-left: 0;
  width: 270px;
}

.burgernav a {
  font-size: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  margin-right: 55px;
  background-color: #313131;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  border: 2px solid white;
}

.burgernav a.settings{
  display: flex;
}

.burgernav a.settings img{
  width: 35px;
  padding-right: 10px;
}

#searchError {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1rem 2rem;
  border: 2px solid #4d4d4d;
  border-radius: 8px;
  z-index: 10000;
  text-align: center;
}

.hidden {
  display: none;
}

/* Results */

p{
  color: white;
}

.lyrics{
  color: white;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (min-width: 370px){
  #menuContainer.open {
    width: 175px;
  }

  .navbar ul {
    width: 100%;
  }

  .navbar .burgernav li {
    margin-left: 60px;
  }

}

@media screen and (min-width: 400px){
  #menuContainer.open {
    width: 210px;
  }

  #burgerNav h1{
    padding-left: 150px;
  }

  .navbar ul {
    width: 95%;
  }

  .navbar a{
    padding: 12px;
    margin-left: 10px;
  }

  .navbar a:first-child{
    margin-left: 5px;
  }

  .navbar .burgernav li {
    margin-left: 80px;
  }

  .burgernav li {
    width: 259px;
  }
  
}

@media screen and (min-width: 440px){
  #menuContainer.open {
    width: 250px;
  }

  #burgerNav h1{
    padding-left: 175px;
  }

  .navbar ul {
    width: 95%;
  }

  .navbar a{
    padding: 10px;
    font-size: 21px;
    margin-left: 10px;
  }

  .navbar a:first-child{
    margin-left: 5px;
  }

  .navbar .burgernav li {
    margin-left: 80px;
  }

  .burgernav li {
    width: 237px;
  }
}

@media screen and (min-width: 500px){
  #menuContainer.open {
    width: 300px;
  }

  #burgerNav h1{
    padding-left: 200px;
  }

  .navbar ul {
    width: 80%;
  }

  .navbar a{
    padding: 12px;
    font-size: 22px;
  }

  .navbar a:first-child{
    margin-left: 8px;
  }

  .navbar .burgernav li {
    margin-left: 100px;
  }

  .burgernav li {
    width: 237px;
  }

  .burgernav a {
    font-size: 1.5rem;
    padding: 10px 15px;
    margin: 0;
    margin-right: 55px;
    width: 200px;
  }
}
@media screen and (min-width: 501px){
  #burgerNav {
  width: 250px;
  right: -250px;
}

#burgerNav.active {
  width: 100%;
}
}

}